/* Regular */
@font-face {
  font-family: "Akzidenz Grotesk Pro";
  src: url("/fonts/AkzidenzGroteskPro-Regular.woff2") format("woff2"),
    url("/fonts/AkzidenzGroteskPro-Regular.woff") format("woff"),
    url("/fonts/AkzidenzGroteskPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Akzidenz Grotesk Pro";
  src: url("/fonts/AkzidenzGroteskPro-RegularItalic.woff2") format("woff2"),
    url("/fonts/AkzidenzGroteskPro-RegularItalic.woff") format("woff"),
    url("/fonts/AkzidenzGroteskPro-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Medium (500) */
@font-face {
  font-family: "Akzidenz Grotesk Pro";
  src: url("/fonts/AkzidenzGroteskPro-Md.woff2") format("woff2"),
    url("/fonts/AkzidenzGroteskPro-Md.woff") format("woff"),
    url("/fonts/AkzidenzGroteskPro-Md.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Akzidenz Grotesk Pro";
  src: url("/fonts/AkzidenzGroteskPro-MdIt.woff2") format("woff2"),
    url("/fonts/AkzidenzGroteskPro-MdIt.woff") format("woff"),
    url("/fonts/AkzidenzGroteskPro-MdIt.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Akzidenz Grotesk Pro";
  src: url("/fonts/AkzidenzGroteskPro-MdI.woff2") format("woff2"),
    url("/fonts/AkzidenzGroteskPro-MdI.woff") format("woff"),
    url("/fonts/AkzidenzGroteskPro-MdI.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: "Akzidenz Grotesk Pro";
  src: url("/fonts/AkzidenzGroteskPro-Light.woff2") format("woff2"),
    url("/fonts/AkzidenzGroteskPro-Light.woff") format("woff"),
    url("/fonts/AkzidenzGroteskPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Akzidenz Grotesk Pro";
  src: url("/fonts/AkzidenzGroteskPro-LightItalic.woff2") format("woff2"),
    url("/fonts/AkzidenzGroteskPro-LightItalic.woff") format("woff"),
    url("/fonts/AkzidenzGroteskPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: "Akzidenz Grotesk Pro";
  src: url("/fonts/AkzidenzGroteskPro-Bold.woff2") format("woff2"),
    url("/fonts/AkzidenzGroteskPro-Bold.woff") format("woff"),
    url("/fonts/AkzidenzGroteskPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Akzidenz Grotesk Pro";
  src: url("/fonts/AkzidenzGroteskPro-BoldItalic.woff2") format("woff2"),
    url("/fonts/AkzidenzGroteskPro-BoldItalic.woff") format("woff"),
    url("/fonts/AkzidenzGroteskPro-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "Akzidenz Grotesk Pro";
  src: url("/fonts/AkzidenzGroteskPro-Md.woff2") format("woff2"),
    url("/fonts/AkzidenzGroteskPro-Md.woff") format("woff"),
    url("/fonts/AkzidenzGroteskPro-Md.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Akzidenz Grotesk Pro";
  src: url("/fonts/AkzidenzGroteskPro-MdIt.woff2") format("woff2"),
    url("/fonts/AkzidenzGroteskPro-MdIt.woff") format("woff"),
    url("/fonts/AkzidenzGroteskPro-MdIt.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* Super */
@font-face {
  font-family: "Akzidenz Grotesk Pro";
  src: url("/fonts/AkzidenzGroteskPro-Super.woff2") format("woff2"),
    url("/fonts/AkzidenzGroteskPro-Super.woff") format("woff"),
    url("/fonts/AkzidenzGroteskPro-Super.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Akzidenz Grotesk Pro";
  src: url("/fonts/AkzidenzGroteskPro-SuperItalic.woff2") format("woff2"),
    url("/fonts/AkzidenzGroteskPro-SuperItalic.woff") format("woff"),
    url("/fonts/AkzidenzGroteskPro-SuperItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

/* Expandida */
@font-face {
  font-family: "Akzidenz Grotesk Pro Exp";
  src: url("/fonts/AkzidenzGroteskPro-LightEx.woff2") format("woff2"),
    url("/fonts/AkzidenzGroteskPro-LightEx.woff") format("woff"),
    url("/fonts/AkzidenzGroteskPro-LightEx.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Akzidenz Grotesk Pro Exp";
  src: url("/fonts/AkzidenzGroteskPro-MdEx.woff2") format("woff2"),
    url("/fonts/AkzidenzGroteskPro-MdEx.woff") format("woff"),
    url("/fonts/AkzidenzGroteskPro-MdEx.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Akzidenz Grotesk Pro Exp";
  src: url("/fonts/AkzidenzGroteskPro-LigExtIt.woff2") format("woff2"),
    url("/fonts/AkzidenzGroteskPro-LigExtIt.woff") format("woff"),
    url("/fonts/AkzidenzGroteskPro-LigExtIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Akzidenz Grotesk Pro Exp";
  src: url("/fonts/AkzidenzGroteskPro-ExtItalic.woff2") format("woff2"),
    url("/fonts/AkzidenzGroteskPro-ExtItalic.woff") format("woff"),
    url("/fonts/AkzidenzGroteskPro-ExtItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Expandida */
@font-face {
  font-family: "Akzidenz Grotesk Pro Cn";
  src: url("/fonts/AkzidenzGroteskPro-LightCn.woff2") format("woff2"),
    url("/fonts/AkzidenzGroteskPro-LightCn.woff") format("woff"),
    url("/fonts/AkzidenzGroteskPro-LightCn.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Akzidenz Grotesk Pro Cn";
  src: url("/fonts/AkzidenzGroteskPro-MdCn.woff2") format("woff2"),
    url("/fonts/AkzidenzGroteskPro-MdCn.woff") format("woff"),
    url("/fonts/AkzidenzGroteskPro-MdCn.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Akzidenz Grotesk Pro Cn";
  src: url("/fonts/AkzidenzGroteskPro-LigCntIt.woff2") format("woff2"),
    url("/fonts/AkzidenzGroteskPro-LigCntIt.woff") format("woff"),
    url("/fonts/AkzidenzGroteskPro-LigCntIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Akzidenz Grotesk Pro Cn";
  src: url("/fonts/AkzidenzGroteskPro-CntItalic.woff2") format("woff2"),
    url("/fonts/AkzidenzGroteskPro-CntItalic.woff") format("woff"),
    url("/fonts/AkzidenzGroteskPro-CntItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
