.datepicker {
  padding: 2px 10px;
  max-width: 110px;
  border: none;
  border-radius: 50px;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  font-family: "Akzidenz Grotesk Pro", sans-serif;
  background-color: #F5EFE2;
}

.datePickerPopover {
  position: absolute;
  width: 95vw;
  z-index: 1000;
  background: #fff;
  border-radius: 24px;
  padding: 1rem;
  transform: translateX(-50%); /* Asegura que siempre quede centrado */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.headerButton {
  cursor: pointer;
  text-align: center;
  padding: 0.5rem;
  background: none;
  border: none;
  font-size: 1.2rem;
}

.headerButton:hover {
  background-color: #f79926;
  color: #fff;
}

.separator {
  font-size: 1.2rem;

  color: #333;
  margin: 0 0.5rem;
}

.daysContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
  text-align: center;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white; // Mismo color que el popover
  z-index: 1001; // Por encima del contenido
}

.weekDay {
  color: #888;
  text-align: center;
}

.day {
  padding: 0.5rem;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.day:hover {
  background-color: #f79926;
  color: #fff;
}

.selected {
  background-color: #f79926;
  color: #fff;
}

.disabled {
  color: #ccc;
  cursor: not-allowed;
}

.disabled:hover {
  background-color: transparent;
}

.popover {
  position: absolute;
  z-index: 1000;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.scrollList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.scrollItem {
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
}

.scrollItem:hover,
.scrollItem.selected {
  background-color: #f79926;
  color: #fff;
}
