@import "../../../styles/variables";

.card {
  font-family: "Akzidenz Grotesk Pro Exp", sans-serif;
  background-color: white;
  border-radius: 24px;
  margin: 10px auto;
  width: 95vw;
  max-width: 600px;
  text-align: center;
  text-align: left;

  &.collapsed {
    border-radius: 50px;
    cursor: pointer;
  }

  &.uncollapsed {
    border: 1px solid #e2d5b9;
    padding-block-end: 14px;
  }
}

.headerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  padding-block: 10px;

  img {
    max-width: 100%;
  }

  h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: $color-text;
    flex-grow: 1;
    text-align: flex-start;
  }

  .backButton {
    background: none;
    transform: rotate(-90deg);
    margin-inline-end: 20px;
  }

  .toggleButton {
    background: none;
    border: none;
    font-size: $font-size-large;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: $orange-corporate;
    }
  }
}

.line {
  color: red;
}

.clientTypeStep,
.clientFormStep {
  padding-inline: 20px;
  padding-block-start: 4px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 12px;

  .clientTypeItem {
    font-weight: 300;
  }

  h3 {
    font-size: $font-size-large;
    font-weight: 500;
    color: $color-text;
  }
}

.linea {
  background-color: #e2d5b9;
  height: 1px;
  margin-block: 4px;
}

.clientForm {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-block-start: 10px;

  p {
    font-size: 7px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 9px;
    margin-block: -4px;
    word-spacing: 2px;
  }

  input,
  select {
    width: 100%;
    font-size: 12px;
    padding: 4px 14px;
    font-family: "Akzidenz Grotesk Pro Exp", sans-serif;
    font-weight: 300;
    color: rgb(94, 93, 93);
    border: 1px solid #e2d5b9;
    border-radius: 50px;
    outline: none;
    transition: border-color 0.3s ease, background-color 0.3s ease,
      font-size 0.2s ease;
    appearance: none;
    touch-action: manipulation;

    &::placeholder {
      color: rgb(94, 93, 93);
      font-family: "Akzidenz Grotesk Pro Exp", sans-serif;
      font-weight: 300;
      background-color: white;
    }

    &:hover {
      border-color: #e2d5b9;
      background-color: white;
    }

    &:focus {
      border-color: #e2d5b9;
      background-color: white;
      font-size: 16px;
    }
  }

  .errorInput {
    border-color: red;
    background-color: #ffe6e6;

    &:focus {
      border-color: red;
    }
  }

  .errorText {
    font-size: 10px;
    font-weight: 300;
    color: red;
  }

  select {
    background-color: white;
    padding-inline-start: 14px;
    padding-block: 4px;
    cursor: pointer;
    color: rgb(94, 93, 93);
    font-weight: 300;
    text-transform: uppercase;
  }
}

.promoCodeInput {
  font-style: italic;
}

.infoText {
  font-size: $font-size-small;
  color: $color-text;
  text-align: left;
}

.continueButton {
  width: 100%;
  padding: 16px;
  margin-top: 20px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdownWrapper {
  position: relative;
  display: flex;
  align-items: center;

  .dropdownIcon {
    position: absolute;
    right: 15px;
    pointer-events: none;

    .icon {
      transform: rotate(180deg);
    }
  }
}

.aditionalInfo {
  text-transform: uppercase;
  font-family: "Akzidenz Grotesk Pro Exp", sans-serif;
  line-height: 9px;
  font-size: 7px;
  font-weight: 300;
  color: #000;
  margin-block: 0 -10px;
  padding-inline: 2px;
  text-align: justify;
}

