.roomCard {
  display: flex;
  justify-content: center;
  border-radius: 24px;
  padding-block-end: 6px;
  font-family: "Akzidenz Grotesk Pro", sans-serif;
}

.card {
  overflow: visible;
  transition: all 0.3s ease-in-out;
  position: relative;
  width: 95vw;
  max-width: 600px;
  padding: 16px 24px;
}

.card.collapsed {
  border-radius: 16px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card.expanded {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardHeader,
.upHeader {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 2;
}

.cardHeader.left,
.upHeader.left {
  justify-content: flex-start;
}

.cardHeader.center,
.upHeader.center {
  justify-content: center;
}

.cardHeader.right,
.upHeader.right {
  justify-content: flex-end;
}

.upHeader {
  margin: 35px 0;

  .image {
    margin-top: -80px;
    z-index: 3;
    position: relative;
  }
}

.plus {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

.cardDetails {
  width: 100%;
}
