.card {
  background-color: #e2d5b9;
  border-radius: 24px;
  padding-block: 20px;
  margin: 0 auto;
  width: 95vw;
  text-align: left;
  z-index: 100;
  padding-block-end: 90px;
  margin-top: -65px;

  &.collapsed {
    text-align: left;
    cursor: pointer;

    .subtitle,
    .options {
      display: none;
    }
  }
}

.headerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding-inline: 24px;

  .title {
    font-size: 32px;
    font-weight: 600;
    color: #000;
    margin-bottom: 0;
  }
}

.minus {
  margin-inline-end: 5px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  width: 100%;
  max-width: 100%;
  padding: 20px 8px 0 12px;
  box-sizing: border-box;
  > * {
    flex: 0 1 calc(50% - 10px);
    box-sizing: border-box;
  }

  justify-content: flex-start;
}
