.timepicker {
  padding: 2px 10px;
  width: 70px;
  border: none;
  border-radius: 50px;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  background-color: #f5efe2;
}

.timepicker:hover,
.timepicker:focus {
  outline: none;
}

.timePickerPopover {
  position: absolute;
  z-index: 1000;
  background: #fff;
  border-radius: 24px;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border: 1px solid #e2d5b9;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid white;
  z-index: 1001;
}

.scrollContainer {
  max-height: 120px;
  overflow-y: auto;
  /* Ocultar barra de scroll */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Ocultar barra de scroll en WebKit browsers (Chrome, Safari, Edge) */
.scrollContainer::-webkit-scrollbar {
  display: none;
}

.scrollList {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.scrollItem {
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.scrollItem:hover,
.selected {
  color: black;
  border-radius: 8px;
}

.nightRate {
  background-color: #fff3cd;
  color: #856404;
}

.nightRate:hover {
  background-color: #ffeaa7;
}

.separator {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
